.nb-footer{
    background: #272727;
    /*margin-top: 60px;*/
    padding-bottom: 30px;
}
.nb-footer .footer-single{
    margin-top: 30px;
}
.nb-footer .footer-title{
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}
.nb-footer .footer-single a{
    text-decoration: none;
}

.nb-footer .footer-single h2{
    color: #eee;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    border-bottom: 2px solid #ff1500;
    /*border-bottom: 2px solid #7BFF00;*/
    padding-bottom: 5px;
    margin-bottom: -2px;
}
.nb-footer .footer-single li{
    border-top: solid 1px #353535;
}
.nb-footer .footer-single li:first-child{
    border-top: none;
}
.nb-footer .footer-single li a{
    color: #979797;
    font-size: 12px;
    padding: 6px 0px;
    display: block;
    transition:all 0.4s ease-in-out;
}
.nb-footer .footer-single li a:hover{
    color: #FF1500;
}
.nb-footer .footer-single li a:hover i{
    color: #FF1500;
}
.nb-footer .dummy-logo {
    margin-top: 11px;
    padding-bottom: 9px;
}
.nb-footer .dummy-logo .icon {
    margin-right: 10px;
    border-radius: 20px;
    margin-top: 24px;
}
.nb-footer .brand {
    background: #FF1500;
}
.nb-footer .dummy-logo i {
    font-size: 50px;
    color: #fff;
    padding: 5px;
}
.nb-footer .dummy-logo p {
    color: #999;
    font-size: 12px;
}
.nb-footer .dummy-logo h2 {
    font-size: 24px !important;
    border-bottom: none;
    color: #696969;
    padding: 5px 0;
}
.nb-footer .btn-footer{
    border: 1px solid #FF1500;
    margin-top: 10px;
    color: #999;
}
.nb-footer .btn-footer:hover{
    background: #FF1500;
    color: #fff;
    transition:all 0.4s ease-in-out;

}
.nb-footer .useful-links li a{
    text-transform: uppercase;
}
.nb-footer .footer-project a{
    font-size: 13px;
}
.nb-footer .footer-project img{
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 1px;
    opacity: 0.7;
    transition:all 0.4s ease-in-out;
}
.nb-footer .footer-project img:hover{
    opacity: 1.0;
    cursor: pointer;
}
.nb-footer .footer-project .footer-title{
    margin-top: 0;
}
.nb-footer .footer-single p, .footer-single address{
    color: #979797;
    font-size: 14px;
    margin-top: 5px;
    line-height: 22px;
}
.nb-copyright{
    background: #171717;
    padding-bottom: 10px;
}
.nb-copyright .copyrt{
    margin-top: 22px;
    font-size: 14px;
}
.nb-copyright .copyrt a{
    color: #FF1500;
}
.nb-copyright .footer-social{
    margin-top: 10px;
}
.nb-copyright .footer-social i{
    padding: 5px 10px;
    color: #999;
    border: 1px solid #333;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    transition:all 0.4s ease-in-out;
}
.nb-copyright .footer-social i:hover{
    background: #FF1500;
    color: #fff;
}
.nb-copyright .footer-social .fa-facebook{
    padding: 5px 14px;
}
@media(max-width: 767px){
    .xs-center{
        text-align: center;
    }
    .left-clear{
        padding-left: 0;
    }
    .right-clear{
        padding-right: 0;
    }
}